body {
    width: 90%;
    max-width: 35rem;
    margin: 0 auto;
}

.modal {
    opacity: 0;
    -webkit-transition: opacity .3s, z-index .3s;
    transition: opacity .3s, z-index .3s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    max-height: 100vh
}

.modal--active {
    opacity: 1;
    z-index: 10000000
}

@media (min-width:992px) {
    .modal--half {
        width: 50%
    }
}

.modal__window {
    padding: 1.5em;
    background-color: #fff;
    z-index: 1;
    position: absolute;
    opacity: 0;
    overflow: scroll;
    max-height: calc(90% - 3em);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%)
}

.modal--active .modal__window,
.modal__window {
    -webkit-transition: opacity .2s, -webkit-transform .3s;
    transition: opacity .2s, -webkit-transform .3s;
    transition: opacity .2s, transform .3s;
    transition: opacity .2s, transform .3s, -webkit-transform .3s
}

.modal--active .modal__window {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media (min-width:992px) {
    .modal__window {
        padding: 5em;
        max-height: calc(90% - 10em)
    }
}

.modal--half .modal__window {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(0);
    transform: translate(0)
}

.modal__title {
    margin-right: 1em
}

.modal__close {
    background: transparent;
    border: 0;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    font-size: 1em;
    cursor: pointer
}

.modal__close .icon {
    stroke: #403f3b;
    stroke-width: 2px;
    height: 1em;
    width: 1em
}

@media (min-width:992px) {
    .modal__close {
        top: 3em;
        right: 3em
    }
}

.modal__mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(64, 63, 59, .5)
}

.modal--team {
    background-color: #fff
}